@import url("../fonts/Qicksand.css");
body {
	/*font-family: Quicksand;*/
	/*font-weight: 600;*/
	/*font-size: 14px;*/
	/*line-height: 1;*/
	/*color: #615C5C;*/
	/*padding-top: 70px;*/
}
.flex{
	display: flex;
}
.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}
.wrap{
	flex-wrap: wrap;
}
.wrap-r{
	flex-wrap: wrap-reverse;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-start{
	justify-content: flex-start;
}
.justify-content-end{
	justify-content: flex-end;
}
.justify-content-around{
	justify-content: space-around;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}
.align-items-start{
	align-items: flex-start;
}
.align-items-end{
	align-items: flex-end;
}
.align-items-stretch{
	align-items: stretch;
}

.align-content-center{
	align-content: center;
}
.align-content-start{
	align-content: flex-start;
}
.align-content-end{
	align-content: flex-end;
}
.align-items-stretch{
	align-content: stretch;
}

.p-10{
	padding: 10px;
}
.p-5{
	padding: 5px;
}
.m-10{
	margin: 10px;
}
.m-5{
	margin: 5px;
}
.bg-blue{
	background: #1E90FF;
}
.bg-gray{
	background: #F9F9F9;
}
.text-white{
	color: #fff;
}

.btn-custom {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.btn-custom:focus,
.btn-custom.focus {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.btn-custom:hover {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}


.list-group-custom {
	padding-left: 0;
	margin-bottom: 20px;
	border-radius: 25px;

}
.list-group-item-custom {
	position: relative;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 25px;  

}
.list-group-item-custom:first-child {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.list-group-item-custom:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
.list-group-item-custom img{
	width: 48px;
	margin-right: 20px;
}
a.list-group-item-custom:focus, a.list-group-item-custom:hover, button.list-group-item-custom:focus, button.list-group-item-custom:hover {
	text-decoration: none;
	color: #fff;
	background-color: #1E90FF;
	border-color: #fff;
}


/*NAVBAR  CUSTOM*/
.navbar{
	border-radius: 0px;
	border:none;
	/*min-height: 70px;*/
}
.navbar-brand {
	/*padding: 0px;
	margin-left: 0px!important;*/
}
.navbar-brand>img {
	/*height: 100%;
	padding: 5px;
	width: auto;*/
}
.navbar-nav .nav-icon a{
	/*height: 100%;
	padding: 5px !important;
	width: auto;*/
}
.navbar-collapse{
	/*border-top: none*/
}



.navbar-custom {
	background-color: #1E90FF;
	border-color: #fff;
}
.navbar-custom .navbar-brand {
	color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-custom .navbar-text {
	color: #fff;
}
.navbar-custom .navbar-nav > li > a {
	color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	color: #000;
	background-color: #fff;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
	color: #000;
	background-color: #fff;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-custom .navbar-toggle {
	border-color: #fff;
	background: #fff;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
	/*background-color: transparent;
	border-color: transparent;*/
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #1E90FF;
}
.navbar-custom .navbar-toggle:hover ~ .navbar-custom .navbar-toggle .icon-bar{
	background: #fff;	
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	/*border-color: #1E90FF;*/
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
	color: #333;
	background-color: #fff;
}
.dropdown-menu>li>a{
	color: #fff;
}
.dropdown-menu>li>a:hover{
	color: #333;
	background-color: #fff;
}
/*NAVBAR CUSTOM END*/

.form-login-block{
	padding: 5px 20px;
	border-radius: 25px;
}
.form-login input{
	border-radius: 10px;
	height: 40px;
	text-align: center;
}
.user-block .col-xs-4 {
	margin-left: 15px;
}

.content a:hover{
	text-decoration: none;
}
.user-block{
	margin-bottom: 20px;
	border-radius: 25px;
}
.user-block img{
	margin-bottom: 10px;	
}
.thumbnail{
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
	border:none;
	color: #333;
	background: #f9f9f9;
}
.thumbnail:hover{
	background: #1E90FF;
	color: #fff!important;
}
.thumbnail-image{
	height: 250px;
	overflow: hidden;
}
.thumbnail-image img{
	/*height: 250px;
	width: auto;*/
	width: 100%;
	height: auto;
}
.thumbnail .caption-custom{
	padding: 9px;
}

.post-item{
	padding: 15px;
	border-radius: 25px;
	margin-bottom: 10px;
}
.post-item .col-md-3 img{
	background: #fff;
	padding: 20px;
	border-radius: 25px;
}
.modal-content{
	border-radius: 20px;
}
.modal-header{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.modal-footer{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.modal-body img{
	border-radius: 25px;
	height: 250px;
	width: auto;
	margin-bottom: 20px;
}
/*
    background: url(/img/img2.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
*/